<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Search Menu</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="NarrowItDownApp">
  <div ng-controller="NarrowItDownController as vm" style="text-align:center">
    <input ng-model="vm.search" type="text" placeholder="search" style="width:200px">
    <button ng-click="vm.getMatchedMenuItems()">Narrow It Down For Me!</button>
    <div ng-if="vm.loading">{{vm.loading}}</div>
    <found-items found="vm.found" on-remove="vm.removeItem(index)" show="vm.show"></found-items>
  </div>
</body>
</html
